@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  background-color: #C4C4C4;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin: 0 auto;
  background-color: #C4C4C4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper__input {
  margin-top: 61px;
  font-size: 48px;
  width: 500px;
  height: 61px;
}

.listOfRepositories {
  margin-top: 45px;
}

.listOfNames {
  background-color: #E3E3E3;
}

.item {
  overflow: hidden;
  background-color: #E27BEB;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 16px;
}

.item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.listOfNames--item {
  padding: 5px;
  border-bottom: 1px solid black;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 44px;
  font-size: 30px;
}

.listOfNames--item:hover {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  background-color: #65CDF9;
}

.listOfNames--item:focus {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  background-color: #65CDF9;
}

.img {
  width: 42px;
}